:root {
  --white: #fff;
  --body-bg: #fafafa;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --dark-blue: #385185;
}

.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

button,
input {
  border: none;
  background-color: var(--body-bg);
}

i{
  color: var(--txt-color);
}


/* 임시설정: span 태그 굵게 */
span{
  font-weight: 700;
}

.global-header {

  margin: 10px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;


}

.logo img {
  width: 100px;
}

.head-icon i {
  margin-right: 5px;
}

.main {

  border-top: 1px solid var(--box-border-color);


  background-color: var(--body-bg);
  display: flex;
  justify-content: center;


}

.post {

  margin: 30px;
  width: 55%;

  border: 1px solid var(--box-border-color);
}

.post-header {
  margin: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.user-info {
  display: flex;
}

.user-img {
  width: 40px;
  border-radius: 40px;
  margin: 5px;

}

.user-id {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.content-img img {
  width: 100%;
}

.content-box {
  margin: 10px;
  font-size: 13px;
}

.content-button {
  display: flex;
  justify-content: space-between;
}

.content-button i{
  font-size: medium;
}

/*아이콘만 오른쪽정렬하기*/
.comment-list{
  border: 3px solid orange;
  width: 400px;
  display: flex;
}

.comment-input{
  display: flex;
}

.comment-input input{
  border-top: 1px solid var(--box-border-color);
  height: 50px;
  padding: 0 10px;
  width: 100%;
}

.comment-input button{
  border-top: 1px solid var(--box-border-color);
  width: 40px;
  color: var(--light-blue);
  font-weight: 700;
}

.post-recommend{
  border: 1px solid var(--box-border-color);
  width: 250px;
  height: 270px;
  margin: 30px;
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
}

.view-all{
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

.member-list{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.member-img {
  width: 30px;
  border-radius: 40px;
  margin: 5px;

}