:root {
  --white: #fff;
  --body-bg: #fafafa;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --dark-blue: #385185;
}

.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

button,
input {
  border: none;
  background-color: var(--body-bg);
}

i {
  color: var(--txt-color);
  cursor: pointer;
}


/* 임시설정: span 태그 굵게 */
span {
  font-weight: 700;
}

.wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.global-header {

  display: flex;
  justify-content: space-between;
  align-items: center;


}

.logo {
  width: 100px;
  height: 40px;
}

.logo img {
  width: 100px;
  height: 100%;
}

.head-icon i {
  margin-right: 5px;
}

.main {

  background-color: var(--body-bg);

  position: relative;
}

.post {

  margin: 30px;
  max-width: 614px;

  border-radius: 5px;
  border: 1px solid var(--box-border-color);
}

.post-header {
  margin: 5px 15px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
}

.user-img {
  width: 40px;
  border-radius: 40px;
  margin: 5px;

}

.user-id {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.content-img img {
  width: 100%;
}

.content-box {
  margin: 10px;
  font-size: 13px;
}

.content-button {
  display: flex;
  justify-content: space-between;
}

.content-button i {
  font-size: medium;
}

.content-comment {
  display: flex;
  justify-content: space-between;
}

.comment-list {
  width: 400px;
  display: flex;
}

.comment-input {
  display: flex;
}

.comment-input input {
  border-top: 1px solid var(--box-border-color);
  height: 50px;
  padding: 0 10px;
  width: 100%;
}

.comment-input button {
  border-top: 1px solid var(--box-border-color);
  width: 40px;
  color: var(--light-blue);
  font-weight: 700;
  cursor: pointer;
}

.post-recommend {
  position: absolute;
  top: 0;
  right: 10px;

  width: 250px;
  margin: 30px 0;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid var(--box-border-color);
}

.view-all {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
}

.member-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.member-img {
  width: 30px;
  border-radius: 40px;
  margin: 5px;

}

/* more-option버튼 클릭 시 */
.more-option {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, .6);
  transition: all 300ms ease-in-out;
}

.more-option.active {
  visibility: visible;
  opacity: 1;
}

.more-option>ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 12px;
}

.more-option>ul li {
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
}

.more-option>ul li:not(:last-child) {
  border-bottom: 1px solid var(--box-border-color);
}

@media screen and (max-width : 960px) {
  .post-recommend {
    display: none;
  }

}

@media screen and (max-width : 768px) {}