:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --btn-bg: #0095f6;
  --btn-color: #fff;
  --fb-color: #385185;
  --a-color: #00376b;
}

.dark {
  --body-bg: #151515;
  --box-bg: #151515;
  --box-border-color: #262626;
  --txt-color: #d2d2d2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--txt-second-color);
}

body {
  background-color: var(--body-bg);
  color: var(--txt-color);

  width: 100%;
  height: 800px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  /* border: 3px solid salmon; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.main {
  margin: 20px;
  
  border: 2px solid var(--box-border-color);
  border-radius: 5px;

  background-color: var(--box-bg);

  padding: 30px 10px;
  height: 500px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main img {
  width: 200px;
  margin-bottom: 20px;
}


.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  
  border-style: solid;
  border-radius: 5px;
  border-color: var(--box-border-color);
  background-color: var(--box-bg);

}

.login-form button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-size: medium;
}

.or{
 
  margin: 20px;
}


.other-login {
  color: var(--fb-color);
}

.other-login div {
  margin-bottom: 20px;
}


.other-login img {
  width: 20px;
  margin: 0;
}

.member-join {
  border: 2px solid var(--box-border-color);
  border-radius: 5px;
  background-color: var(--box-bg);

  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-join a{
  color: #0095f6;
}

.download {
  margin: 20px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download div{
  margin-bottom: 40px;
}

.download-img{
  display: flex;
}
.download img {
  width: 120px;
}

footer {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}
.footer-link{

}



/* Dark mode */
body.darkmode {
  
}